@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color : #505962;
}

/*---Navigation---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0)!important;
}

.navbar-nav li{
  padding-right :.7 rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top : .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
  color: #1ebba3;
}

/*--Landing Page --*/
.home-inner{
  background-image: url(assets/background.jpg);
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index : 1;
  color: rgba(255, 255, 255, 0.849);
  text-transform: uppercase;
}

.caption h1{
  font-size : 3.8rem;
  font-weight : 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom : 1rem;
}

.caption h3 {
  font-style: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom : 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/* Start about headline*/
.about-headline-inner{
  background-image: url("assets/computers.png")
}

.about-headline{
  width: 100%;
  position: absolute;
  top: 110%;
}

.about-inner{
  background-image: url("assets/homepage.jpg");
}

.aboutPage{
  width:100%;
  position: absolute;
  top: 130%;
  color:rgba(7, 5, 5, 0.8);
  display: flex;
  flex-direction: row;
}

.about-headline h1{
  font-size: 4.0rem;
  font-weight: 700;
  padding-bottom: 1rem;
  letter-spacing: 0.8rem;
  width : 100%;
}

.aboutPage p{
  font-size: 2.0rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  width: 85%;
}

.aboutPage .btn{
  font-size:1.4rem;
}

.imgRoy{
  width: 30vh;
  border-radius: 50%;
}

/* End of About Page*/

/* Start of Experience Page*/
.experience-headline{
  width : 100%;
  position: absolute;
  top: 305%;
}

.experiencePage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  position: absolute;
  top:325%;
}

.experience-content{
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  justify-content: space-around;
  position: absolute;
}

/* End of experience */


.contact-section{
  display:flex;
  flex-direction:column;
  width:100%;
  position: absolute;
  top:400%;
  background-color: #217D7D;
  color: #C3C3C3; 
  height: 30%;
}

.contact-headline{
  position:absolute;
  width:100%;
  top : 4%;
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
}

.katamutiara{
  position: absolute;
  width: 100%;
  top : 27%;
  font-size: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.socialMedia{
  position: absolute;
  top: 60%;
  width: 100%
}

.socialMediaContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-top: 0.3rem;
}

